body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

.app {
  display: flex;
  height: 100vh;
  // overflow: hidden;
}

.section {
  flex-grow: 1;
  padding: 1rem;
  overflow: auto;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -0.5rem;
}

.game-item {
  flex-basis: calc(100%/4 - 1rem);
  margin: 0.5rem;
}
