body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
