body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

.app {
  display: flex;
  height: 100vh;
  // overflow: hidden;
}

.section {
  padding: 1rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.grid {
  display: flex;
}
