// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$m-gutter: 1rem;
$c-sidebar: #17141f;
$c-sidetext: #fefefe;
$c-search: #201c2b;
$c-searchborder: #392e5c;
$c-light: #898395;

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';



.sidebar {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  padding: $m-gutter;
  background: $c-sidebar;
  color: $c-sidetext;
  overflow: scroll;

  &__logo {
    width: 6.1rem;
    margin: 0 auto;
    padding-bottom: 0.5rem;
  }

  &__search {
    border: 1px solid $c-searchborder;
    background: $c-search;

    &--bar {
      border: 0;
      outline: none;
      background: none;
      color: $c-light;
      font-size: 0.8rem;
      line-height: 2rem;
    }
  }
}

.search-icon {
  padding: 0.5rem;
  color: $c-light;
}
