// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$m-gutter: 1rem;
$c-sidebar: #17141f;
$c-sidetext: #fefefe;
$c-search: #201c2b;
$c-searchborder: #392e5c;
$c-itemborder: #6441a4;
$c-light: #898395;
$c-font: #b8b5c0;

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';



.sidebar {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  padding: $m-gutter;
  background: $c-sidebar;
  color: $c-sidetext;
  overflow: scroll;

  &__logo {
    width: 6.1rem;
    margin: 0 auto;
    padding-bottom: 0.5rem;
  }

  &__search {
    border: 1px solid $c-searchborder;
    background: $c-search;

    &--bar {
      border: 0;
      outline: none;
      background: none;
      color: $c-light;
      font-size: 0.8rem;
      line-height: 1.8rem;
    }
  }

  &__nav {
    padding: 1.5rem $m-gutter;
  }
}

.search-icon {
  padding: 0.5rem;
  color: $c-light;
}

.nav-list {
  margin: 0;
  color: $c-font;

  &__item {
    padding: 0.1rem 0;

    &--page {
      padding: 0 0.3rem;
    }
  }
}

.nav-list li:first-of-type {
  border-left: 2px solid $c-itemborder;
}

.list-icons {
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;

}
