// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';

$m-gutter: 1rem;
$c-sidebar: #17141f;
$c-sidetext: #fefefe;

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';



.sidebar {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  padding: $m-gutter;
  background: $c-sidebar;
  color: $c-sidetext;
  overflow: scroll;

  &__logo {

  }
}

.twitch-logo {
  height: 2rem;

  margin: 0 auto;
}
